header{
    background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(45, 253, 149, 0.681) 100%
	);
}

.box{ 
    border-style: 15px red double ;
}


footer{background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 149, 0.681) 100%
);}